.features {
    &__title {
        font-weight: 700;
        line-height: 1.14;
        text-transform: uppercase;
        color: var(--title-text-color);
    }
    &__icon-container{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 30px;
        margin-top: 30px;

        border-radius: 4px;
        background-color: var(--medium-background-color);
    }

    &__icon-container--no-magin-top {
        margin-top: 0;
    }

    &__description {
        margin-top: 10px;
        line-height: 1.71;
    }
}
@media screen and (min-width: 480px) {

}

@media screen and (min-width: 768px) {

}

@media screen and (min-width: 1200px) {

}

// .features{
//     &__list {
//         display: flex;
//     }
//     &__item:not(:last-of-type){
//         margin-right: 30px;
//     }
//     &__icon-container{
//         width: 270px;
//         height: 120px;         
//     }
//     
//     
// }