.features {
    &__title {
        font-weight: 700;
        line-height: 1.14;
        text-transform: uppercase;
        color: var(--title-text-color);
    }
    &__icon-container{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 30px;
        margin-top: 30px;

        height: 120px;

        border-radius: 4px;
        background-color: var(--medium-background-color);
    }

    &__icon-container--no-margin-top {
        margin-top: 0;
    }

    &__description {
        margin-top: 10px;
        line-height: 1.71;
    }
}


@media screen and (min-width: 768px) {
    .features {
        &__list {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            flex-wrap: wrap;                
        }
        &__item {
            flex-basis: calc((100% - 30px) / 2);  

            &:not(:nth-last-child(-n + 2)) {
                margin-bottom: 30px;
            }
        }
        &__icon-container{
            margin-top: 0;
        }
    }
    
}

@media screen and (min-width: 1200px) {
    .features {
        &__item {
            flex-basis: calc((100% - 90px) / 4);
            margin-bottom: 0;
        }
    }
}


