.directions__title,
.members__title,
.clients__title {
    margin-bottom: 30px;
    
    font-weight: 700;
    font-size: 28px;
    line-height: 1.18;
    text-align: center;
    color: var(--title-text-color);
}

@media screen and (min-width: 1200px) {
    .directions__title,
    .members__title,
    .clients__title {
        margin-bottom: 50px;
        
        font-size: 36px;
        line-height: 1.17;
    }
}