body{
    background-color: var(--primary-white-color);
    color: var(--text-color);
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.03em;
}
.section{
    padding-top: 60px;
    padding-bottom: 60px;
    max-width: 1600px;
    margin: auto;
}

@media screen and (min-width: 1200px) {
    .section{
        padding-top: 94px;
        padding-bottom: 94px;
    }
}